@import "../node_modules/bootstrap/scss/bootstrap.scss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
}

#divHeader {
  height: 100px;
}

#divContent {
  min-height: 700px;
  height: auto !important;
  /*Cause footer to stick to bottom in IE 6*/
  height: 100%;
  // margin: 0 auto -100px;
  /*Allow for footer height*/
  vertical-align: bottom;
}

#divFooter,
#divPush {
  height: 100px;
  /*Push must be same height as Footer */
}